body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #87CEEB, #4682B4); /* Degradado de azul cielo a azul más oscuro */
    overflow: hidden; /* Elimina el desplazamiento */
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para resaltar el contenido */
    border-radius: 10px;
    max-width: 100%;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#no {
    position: absolute;
    transition: all 0.2s;
}

@media (max-width: 600px) {
    h2 {
        font-size: 1.2em;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .container {
        padding: 10px;
    }
}
