body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(45deg, #ff9a9e, #fad0c4);
        font-family: Arial, sans-serif;
        text-align: center;
        flex-direction: column;
}

/* Estilos para la pantalla de inicio */
#login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile-pic {
    width: 120px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#profile-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}
#start-text {
    color: white;
    font-size: 1.2em;
}

/* Estilos para el contenido de la historia */
#story-content {
    display: none;
}
.text-box {
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 70%;
        margin-bottom: 25px;
        font-size: 1.3em;
        font-weight: bold;
}
.continue-btn, #yes-btn, #no-btn {
        padding: 14px 30px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
        background: #ff758c;
        color: white;
        margin-top: 25px; /* Más espacio sobre el botón */
        margin-bottom: 30px; /* Más espacio bajo el botón */
        transition: transform 0.2s, background 0.2s;
}
.continue-btn:hover, .yes-btn:hover, .no-btn:hover {
	transform: scale(1.1);
	background: #e84168;
}
.photos {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 30px;
}
.photos img {
	width: 100%;  /* Ajusta el ancho al contenedor */
        max-width: 130px; /* Establece un ancho máximo */
	aspect-ratio: 4 / 5; /* Mantiene el formato 4:5 */
	object-fit: cover; /* Evita distorsión y recorta si es necesario */
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.final-box {
	background: white;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 80%;
	margin: auto;
}
.fade-out {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 1.2s, transform 1.2s;
}
.fade-in {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1.2s, transform 1.2s;
}
